<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebay</title>
</head>
<body>
    <center>
    <br>
    <h1> ebay</h1>
    <img src="static/download.png">
    <p> Welcom to ebay ,a digital marketplace so in this website u can find whatever u want  </p>
    <br>
    </center>
    <h1> technology products </h1>
    <img src="static/computer1.jpg"  style="width:500px;height:400px;">
    
    
    <br>
   
    <h2> clothes </h2>
    <img src="static/clothes.jpg" style="width:500px;height:400px;" >
    <br>
    <a href="/products"><button class="buttons"> go to the product page </button></a>



    




</body>
</html>