<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <center>products</center>
    <img  src="static/mouse.jpg"  style="width:500px;height:400px;">
    <h1> mouse</h1>
    <p> This is an incredible mouse </p>
    <p> The price :$8</p>
    <a href="/cart"><button class="buttons"> add it to ur cart</button></a> 
    <a href="/"><button class="buttons"> back to the home page </button></a> 
    <br>
    <img src="static/t.jpg" style="width:500px;height:400px;" >
    <h2> cool t-shirt</h2>
    <p>the price:$20</p>

   
    
    <a href="/cart"><button class="buttons"> add it to ur cart</button></a> 
    
    <a href="/"><button class="buttons"> back to the home page </button></a> 
    <br>









</body>
</html>
